<h1>Beggars Can Be Choosers</h1>

<p>If you are an Executor, sign in! If you'd like to donate, please stand by - we're working on it.

<p><a href="/signup/executor"><button type="button" class="btn btn-default">Sign Up As An Executor</button></a>

<p><a href="/login/executor"><button type="button" class="btn btn-default">Executor Login</button></a></p>

