<h1>Log In To User Page</h1>
<form class="form-inline" action="/login/user" method="post">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" required="true" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" required="true" name="password">
  </div>
  <div class="checkbox">
    <label><input type="checkbox">Remember me</label>
  </div>

  <button type="submit" class="btn btn-default">Login</button>
</form>
{{#if errorMessage }}
<div class="alert-danger">
  <p>{{errorMessage}}</p>
</div>
{{/if}}

<a href="../signup/user"><button type="button" class="btn btn-default">Sign Up As User</button></a>