<h3>Hello from signup-users</h3>

<form class="" action = "/signup/user/submit" method = "post">
	<!--Username -->
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" name = "username" id="username" required="true" pattern=".{5,}" title="Five or more characters">
	</div>

	<!-- Password-->
	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" required="true" name="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
	</div>

	<!-- Verify Password-->
	<div class="form-group">
		<label for="verify-password">Verify Password:</label>
		<input type="password" class="form-control" id="verify-password" required="true" name="verifypw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
	</div>

	<!-- Email Address -->
	<div class="form-group">
		<label for="email">Email Address (Format: stuff@stuff.com):</label>
		<input type="email" class="form-control" id="email" name = "email" required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
	</div>


	<!-- Verify Email Address -->
	<div class="form-group">
		<label for="verify-email">Verify Email Address:</label>
		<input type="email" class="form-control" id="verify-email" name = "verifyemail" required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
	</div>

	<!-- Phone Number -->
	<div class="form-group">
		<label for="phone">Phone Number (Format: (999)999-9999):</label>
		<input type= "tel" class="form-control" id="phone" name = "phone" required="true" pattern="[\(]\d{3}[\)]\d{3}[\-]\d{4}" >
	</div>

   <!-- First Name -->
	<div class="form-group">
		<label for="first-name">First Name</label>
		<input type="text" class="form-control" id="first-name" name ="fName">
	</div>	

    <!-- Middle Name -->
	<div class="form-group">
		<label for="middle-name">Middle Name</label>
		<input type="text" class="form-control" id="middle-name" name ="mName">
	</div>	

    <!-- Last Name -->
	<div class="form-group">
		<label for="last-name">Last Name</label>
		<input type="text" class="form-control" id="last-name" name ="lName">
	</div>	

	<!-- Alias -->
	<div class="form-group">
		<label for="alias">Alias</label>
		<input type="text" class="form-control" id="alias" name ="alias">
	</div>	

	
<button type="submit" class="btn btn-default">Create users Account</button>
</form>
